.container {
	width: fit-content;
    margin: auto;
}

.output {
	display: flex;
	flex-wrap: wrap;
	}

.card {
	width: 200px;
	margin: 20px;
}

.card-image {
	display: block;
	width: 200px;
	height: 150px;
}

.input {
    width: 215px;
}

.btn {
    height: 20px;
}